.main{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  /* grid-template-columns: 1fr 3fr 1fr; */
  height: 50em;
}

.container{
  width: 100%;
  height: 450px;
  overflow: hidden;
  margin-top: 20px;
  padding-top: -5px;
  border: .3px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #ccc;
  
}
.container table{
    border-collapse: collapse;  
    overflow: scroll;
    text-align: center;
    cursor: pointer;
    width: 100%;
    


}

.container thead tr{
  font-weight: bold;
  height: 50px;
  color: black;
  border-top: 1px solid #dee9da;
  border-bottom: 2px solid;
  background-color: #dff0d8;
  box-shadow: 0px 5px 5px #ccc;
  font-size: 1.6vw;
} 

/* do this when you have alot of table
.container tbody td:nth-child(1){
  text-align: left;
  padding-left: 5%;
} */

.container tbody tr {
  border-bottom: .2px solid #ddd; 
  background-color: #ffffff;
  height: 40px;
}

.container tr:nth-child(even){
  background-color: #e8f5e9;
}
.container thead tr{
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
}
.container tbody tr:hover{
  background-color: #ccc;
  text-decoration: underline;
}
.container tr b:hover{
  text-decoration: underline;
}

@media only screen and (max-width: 680){
  .main{
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr 3fr; */
    /* grid-template-areas: 
      "item-3"
      "item-1"
      "item-2"; */
    
    
  }
  
}

/* @media only screen and (max-width: 680){
  .item-3{
    grid-template-rows: 2 ;
  }
  
} */

