.search-bar{
    display: flex;
    justify-content: center;
    border-radius: .5rem;
    padding-left: 2rem;
    
    /* margin-left: 4rem; */
   

}
.search-input{
    background-color: transparent;  
    border-radius: .3rem;
    height: 2rem;
    width: 15rem;
    outline: 2px solid transparent;
    border: 1px solid #c8ccc0;
    background: #fff;
    padding: 2px 7px;


   
    /* outline-offset: 2px; */

    /* margin-right: 0.2rem */
}

.search{
    border-radius: 0.3rem;
    appearance: auto;
    user-select: none;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    white-space: pre;
    padding: 0.38rem;
    padding-inline: 0.6rem;
    margin-left: 0.2rem;
}

@media screen and (max-width: 680px) {
  .search-bar {
    display: flex;
    justify-content: center;
    padding-right: -4px;
  }
}

@media screen and (max-width: 680px) {
  .search-input {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    height: 1.9rem;
    width: 20rem;
    margin-left: -5rem;
  }
}


@media screen and (max-width: 780px) {
  .search {
    visibility: hidden;
  }
}

@media only screen and (max-width: 940px) {
  .search {
    visibility: hidden;
  }
}

@media only screen and (max-width: 940px) {
  .search-input {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 2rem;
    
  }
}
